NODE_ENV="development"

# Postgres
PG_HOST="postgres"
PG_PORT="5432"
PG_DATABASE="stacklab"
PG_USER="stacklab"
PG_PASSWORD="changeme"

# Minio
MINIO_ROOT_USER="minioadmin"
MINIO_ROOT_PASSWORD="changeme"

# Meilisearch
MEILI_MASTER_KEY="changeme"
MEILI_DB_PATH="data/meilisearch/data.ms"